<dom-module id="shared-styles">
  <template>
    <style>
    <style>
        :host {
          display: block;
        }
        .container {
          display: grid;
          justify-content: space-around;
          /*align-items: center;*/
          /*align-content: start;*/
        }
        .item {
          flex: 1 0 1;
          margin: auto;
          width: auto;
          height: auto;
        }
      </style>
    </style>
  </template>
</dom-module>
