<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../styles.html" />

<dom-module id="account-detail">
  <!--INTERFAZ-->
  <template>
    <style include="shared-styles"></style>

    <h1 class="container">Detalles de tu cuenta</h1>
    <!--Formulario-->
    <div class="container">
      <!--datos-->
      <div class="item">
        Aquí va el gráfico serie de tiempo
      </div>

      <!--botón-->
      <div class="item">
        <button on-click="watch">Ver movimientos</button>
      </div>
    </div>
    <iron-ajax
    id="doGetmovements"
    url={{computeUrl(path)}}
    content-type="application/json"
    crossDomain: true
    dataType: 'jsonp'
    method="GET"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError"></iron-ajax>
  </template>

  <!--FUNCIONALIDAD-->
  <script>
  /**
  *
  */
  class AccountDetail extends Polymer.Element {

    static get is() { return 'account-detail'; }

    static get properties() {
      return {
        date: {
          type: String
        },
        amount: {
          type: String
        },
        concept: {
          type: String
        },
        path: {
          type: String,
          value: function() {return '5f0ef97c1f6e4f5f304859b6'}
        }
      };
    }

    computeUrl(path) {
      return "http://localhost:3000/Movimientos/" + path
    }

    watch() {
        this.$.doGetmovements.generateRequest()
        console.log('Petición enviada')
    }

    manageAJAXResponse(data) {
      console.log('Respuesta del servidor:')
      console.log(data.detail.response)
    }

    showError(error) {
      console.log('Hubo un error:')
      alert('Hubo un error')
      console.log(error)
    }

  }

  //
  window.customElements.define(AccountDetail.is, AccountDetail);
  </script>
</dom-module>
