<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../styles.html" />

Access-Control-Allow-Origin: *

<dom-module id="add-movement">
  <!--INTERFAZ-->
  <template>
    <style include="shared-styles"></style>

    <!--Formulario-->
    <div class="container">
      <h1>Nuevo movimiento</h1>
      <!--datos-->
      <div class="item">
        <label>Fecha</label>
        <br />
        <input type="date" value="{{date::input}}" />
        <br />
        <label>Importe</label>
        <br />
        <input type="number" value="{{amount::input}}" />
        <br />
        <label>Tipo</label>
        <br />
        <input type="text" value="{{concept::input}}" />
      </div>

      <!--botón-->
      <div class="item">
        <button on-click="add">Añadir</button>
      </div>
    </div>
    <iron-ajax
    id="doAddmovement"
    url={{computeUrl(path)}}
    content-type="application/json"
    crossDomain: true
    dataType: 'jsonp'
    method="PUT"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError"></iron-ajax>
  </template>

  <!--FUNCIONALIDAD-->
  <script>
  /**
  *
  */
  class AddMovement extends Polymer.Element {

    static get is() { return 'add-movement'; }

    static get properties() {
      return {
        date: {
          type: String
        },
        amount: {
          type: String
        },
        concept: {
          type: String
        },
        path: {
          type: String,
          value: function() {return '5f0ef97c1f6e4f5f304859b6'}
        }
      };
    }

    computeUrl(path) {
      return "http://localhost:3000/Movimientos/" + path
    }

    add() {
      var movementData = {
        "fecha": this.date,
        "importe": this.amount,
        "tipo": this.concept
      }

        this.$.doAddmovement.body = JSON.stringify(movementData)
        this.$.doAddmovement.generateRequest()
        console.log('Petición enviada')
    }

    manageAJAXResponse(data) {
      console.log('Respuesta del servidor:')
      console.log(data.detail.response)
    }

    showError(error) {
      //console.log('Hubo un error')
      alert('Datos incorrectos, favor de verificar.')
      console.log(error)
    }
  }

  //
  window.customElements.define(AddMovement.is, AddMovement);
  </script>
</dom-module>
