<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../styles.html" />

<link rel="lazy-import" href="/src/views/landing-page.html">
<link rel="lazy-import" href="/src/views/signin-app.html">
<link rel="lazy-import" href="/src/views/signup-app.html">
<link rel="lazy-import" href="/src/views/add-account.html">
<link rel="lazy-import" href="/src/views/account-detail.html">

<!--<signin-app></signin-app>
<signup-app></signup-app>

<accounts-info></accounts-info>
<account-detail></account-detail>

<add-account></add-account>
<transfer-money></transfer-money>-->

<dom-module id="landing-page">
  <!--INTERFAZ-->
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <style include="shared-styles"></style>

    <!--Formulario-->
    <div class="container">
      <h1>Landing Page</h1>
      <!--datos-->
      <div class="item"></div>

      <!--botón-->
      <div class="item">
        <button on-click="signin" onclick="signin()">Sign In</button>
        <button on-click="signup" onclick="signup()">Sign Up</button>
      </div>
    </div>
  </template>

  <!--FUNCIONALIDAD-->
  <script>
  /**
  *
  */
  class LandingPage extends Polymer.Element {

    static get is() { return 'landing-page'; }

    static get properties() {
      return {
        account: {
          type: String
        },
        amount: {
          type: String
        },
        date: {
          type: String
        }
      };
    }

    signin() {
      console.log("Mostrar sign in")
    }

    signup() {
      console.log("Mostrar sign up")
    }
  }

  //
  window.customElements.define(LandingPage.is, LandingPage);
  </script>
</dom-module>
