<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../styles.html" />

Access-Control-Allow-Origin: *

<dom-module id="signup-app">
  <!--INTERFAZ-->
  <template>
    <style include="shared-styles"></style>

    <style>
      :host {
        display: block;
      }
    </style>

    <!--Formulario-->
    <div class="container">

      <!--datos-->
      <div class="item" hidden$="{{logado}}">
        <h1>Sign up</h1>
        <!-- <img src="https://image.flaticon.com/icons/svg/2910/2910309.svg" width="150px" height="150px" alt="" />-->
        <br />
        <label>Email</label>
        <br />
        <input type="email" value="{{email::input}}" />
        <br />
        <label>Password</label>
        <br />
        <input type="password" value="{{password::input}}" />
        <br />
        <label>Confirm password</label>
        <br />
        <input type="password" value="{{confirmPassword::input}}" />
      </div>

      <!--botón-->
      <div class="item">
        <button on-click="signup">Signup</button>
        <br />
        <label>Already have an account? Signin</label>
      </div>

      <div class="item" hidden$="{{!logado}}">
        <span>Bienvenido a la app</span>
      </div>
    </div>

    <iron-ajax
    id="doSignup"
    url="http://localhost:3000/signup"
    content-type="application/json"
    crossDomain: true
    dataType: 'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SignupApp extends Polymer.Element {

      static get is() { return 'signup-app'; }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          confirmPassword: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }

      signup() {
        var signupData = {
          "email": this.email,
          "password": this.password
        }
          this.$.doSignup.body = JSON.stringify(signupData)
          this.$.doSignup.generateRequest()
          console.log('Petición enviada')
      }

      manageAJAXResponse(data) {
        console.log('Respuesta del servidor:')
        console.log(data.detail.response)
        this.logado = true
      }

      showError(error) {
        //console.log('Hubo un error')
        alert('Hubo un error. Reintenta más tarde.')
        console.log(error)
      }
    }

    window.customElements.define(SignupApp.is, SignupApp);
  </script>
</dom-module>
