<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../styles.html" />

Access-Control-Allow-Origin: *

<dom-module id="signin-app">
  <!--INTERFAZ-->
  <template>
    <style include="shared-styles"></style>

    <style>
      :host {
        display: block;
      }
    </style>

    <!--Formulario-->
    <div class="container">
      <!--datos-->
      <div class="item" hidden$="{{logado}}">
        <h1>Sign in</h1>
        <br />
        <label>Email</label>
        <br />
        <input type="email" value="{{email::input}}" />
        <br />
        <label>Password</label>
        <label>forgot password?</label>
        <br />
        <input type="password" value="{{password::input}}" />
      </div>

      <!--botón-->
      <div class="item">
        <button on-click="signin">Signin</button>
        <br />
        <label>New to PORTFOLIO? Create account</label>
      </div>

      <div class="item" hidden$="{{!logado}}">
        <span>Bienvenido a la app</span>
      </div>
    </div>

    <iron-ajax
    id="doSignin"
    url="http://localhost:3000/signin"
    content-type="application/json"
    crossDomain: true
    dataType: 'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SigninApp extends Polymer.Element {

      static get is() { return 'signin-app'; }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }

      signin() {
        var signinData = {
          "email": this.email,
          "password": this.password
        }
          this.$.doSignin.body = JSON.stringify(signinData)
          this.$.doSignin.generateRequest()
          console.log('Petición enviada')
      }

      manageAJAXResponse(data) {
        console.log('Respuesta del servidor:')
        console.log(data.detail.response)
        this.logado = true
      }

      showError(error) {
        //console.log('Hubo un error')
        alert('Datos incorrectos, favor de verificar.')
        console.log(error)
      }
    }

    window.customElements.define(SigninApp.is, SigninApp);
  </script>
</dom-module>
